
      <div class="row">
        
        <section class="main col-md-9">
          <article>
          <h2>Product Features</h2>
          <p>
            Founded in 200X, Me.Company is a software solution company that specialize in mobile and web applications, mainframe, cloud-native solutions, database management systems, AI models, Kubernetes, blockchain and many more…
          </p>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Upcoming Products:</h2>
          <p>Looking forward to seeing you soon.</p>
        </aside>
      </div>
    